  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif; 
    margin: 0;
    line-height: 1.6;
    background-color: #fff0f5;
    color: #333;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000000" stroke-width="1.75" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>') 0 0, auto;
  }

  button, a, input, select, textarea {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000000" stroke-width="1.75" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>') 0 0, auto;
  }

  img {
    max-width: 100%;
    display: block;
  }

  h1,
  h2,
  h3,
  p {
    margin: 21px;
  }

  .help-support {

    background-color: #fff0f5; /* Ensure background color is consistent */
  }

  .header {
    text-align: center; /* Center align header text */
    margin-bottom: 3rem; /* Space below header */
  }

  .section-title-help {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 1rem; /* Adjust margin for better spacing */
  }

  .split-help {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
  }

  .split-help > div {
    flex-basis: 32%;
    min-width: 11rem;
    padding: 2rem;
    background-color: #ffe4e1;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;

  }
  .split-help :hover {
    transform: scale(1.1);
    opacity: 0.9;
  }


  .btn-container {
    text-align: center;
    margin-top: 2rem;
  }

  .btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background-color: #e1989f;
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    transition: transform 250ms ease-in-out, opacity 250ms linear;
  }

  .btn:hover,
  .btn:focus {
    transform: scale(1.1);
    opacity: 0.9;
  }